html, body {
  overflow: hidden;
  transition: "box-shadow", "background-color";
  font-family: "Plus Jakarta Sans", sans-serif;
}

.bg-class {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 600vh;
  background-image: url("../images/bg_1.svg");
  background-repeat: no-repeat;
  top: 0;
  transition: 1s ease all;
}

.logo-dela {
  position: absolute;
  top: 65px;
  left: 15px;
}

.logo-dela img {
  width: 150px;
}

input {
  border: 0;
  outline: 0;
  border-bottom: 2px solid rgba(3, 168, 244, 0.368627451);
  background: transparent;
}

.full-page {
  height: 100vh;
  width: 100vw;
}

.letters {
  font-weight: 300;
  color: white;
  font-size: 2.5rem;
}

.center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease all;
}

.center-top-div {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 60%;
}

.record-button {
  height: 4em;
  width: 4em;
  border-color: #f3f3f3 !important;
}

.play-button {
  height: 4em;
  width: 4em;
}

.img-rec {
  max-width: 70%;
  height: auto;
  position: relative;
}

.nostyle-button {
  font-size: 1.5rem !important;
  position: relative;
  background: none;
  border: 2px solid;
  right: 20px;
  font: inherit;
  cursor: pointer;
  width: 150px;
  height: 55px;
  border-radius: 30px;
  font-size: 20px !important;
  opacity: 0;
  animation: showme ease 0.5s normal forwards;
  animation-delay: 1s;
  color: white;
}

.nextb:hover {
  transition: 0.35s ease-in-out;
  background: white;
  color: #e58fba;
}

.skipb {
  border: none;
  width: 200px;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes showme {
  from {
    opacity: 0;
    left: 0px;
  }
  to {
    opacity: 1;
    left: 10px;
  }
}
@keyframes hideme {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: 1%;
  }
}
.part-1 {
  display: block;
  position: relative;
  opacity: 0;
}

.animation-class {
  animation: showme ease 0.5s normal forwards;
  animation-delay: 0.25s;
}

.animation-class-outro {
  animation: hideme ease 0.5s normal forwards;
}

.part-6 {
  display: none;
  position: relative;
  opacity: 0;
  animation: showme ease 0.5s normal forwards;
}

.dev-but {
  position: absolute;
  bottom: 10px;
  left: 1%;
  opacity: 0;
}

.recording {
  position: relative;
  margin-left: 20px;
  max-width: 360px;
  height: 80px;
  background: #fff;
}

.recording:before {
  position: absolute;
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  left: -2px;
  top: -2px;
  background: black;
  z-index: -1;
}

.mybtn {
  width: 180px;
  height: 60px;
  margin-left: 5x;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  outline: none;
  transition: 0.35s ease-in-out;
}

.savecolor:hover {
  transition: 0.35s ease-in-out;
  background: #6cd483;
}

.discardcolor:hover {
  transition: 0.35s ease-in-out;
  background: #ec804e;
}

.actions {
  margin-left: 20px;
}

audio {
  width: 380px;
}

img, svg {
  position: absolute;
  bottom: 0;
}

#cloud1 {
  right: 300px;
  bottom: 200px;
  width: 115px;
  z-index: 3;
}

#cloud2 {
  width: 130px;
  right: 300px;
  bottom: 120px;
}

#cloud3 {
  width: 75px;
  right: 360px;
  bottom: 215px;
}

#thinking {
  width: 340px;
  right: 30px;
  bottom: 45px;
}

#cloudplay {
  width: 135px;
  bottom: 50%;
  left: 184px;
}

.clouds-top {
  position: absolute;
  bottom: 40vh;
}

.cloud-bottom {
  position: absolute;
  bottom: 0;
}

#c1 {
  width: 537px;
  left: 13vw;
  bottom: 10vh;
}

#c2 {
  width: 495px;
  bottom: 25vh;
  left: 65vw;
}

#c3 {
  width: 211px;
  left: 8vw;
  bottom: 52vh;
}

#c4 {
  width: 422px;
  bottom: 76vh;
  left: 17vw;
}

#c5 {
  width: 366px;
  left: 65vw;
  bottom: 68vh;
}

#c6 {
  width: 171px;
  left: 85vw;
  bottom: 85vh;
}

#c7 {
  width: 650px;
  left: 55vw;
  z-index: -2;
  bottom: -19vh;
}

#c1t {
  width: -600px;
  left: -3vw;
  bottom: 10vh;
}

#c2t {
  width: -495px;
  bottom: 16vh;
  left: 99vh;
}

#c3t {
  width: -211px;
  left: -10vw;
  bottom: 49vh;
}

#c4t {
  width: -422px;
  bottom: 69vh;
  left: 4vw;
}

#c5t {
  width: -446px;
  left: 48vw;
  z-index: -3;
  bottom: 61vh;
}

#c6t {
  width: -234px;
  left: 97%;
  bottom: 85vh;
}

#climber {
  width: -425px;
  right: -16vw;
}

#s1 {
  width: 15px;
  left: 52vw;
  top: 11vh;
}

#s2 {
  width: 15px;
  left: 39vw;
  top: 17vh;
}

#s3 {
  width: 15px;
  left: 15vw;
  bottom: 4vh;
}

#s4 {
  width: 18px;
  right: 16vw;
  bottom: 10vh;
}

#s5 {
  width: 18px;
  right: 5vw;
  bottom: 56vh;
}

#soccer {
  width: 84px;
  left: 23vw;
  bottom: 16vh;
  z-index: 20;
  transition: 0.5s ease all;
  cursor: pointer;
}

#soccer:hover {
  transform: scale(1.6);
}

#couch {
  width: 84px;
  right: 17vw;
  bottom: 30vh;
  z-index: 20;
  transition: 0.5s ease all;
}

#couch:hover {
  transform: scale(1.2);
}

#love {
  width: 84px;
  right: 23vw;
  bottom: 75vh;
  z-index: 20;
  transition: 0.5s ease all;
}

#love:hover {
  transform: scale(1.2);
}

#walk {
  width: 200px;
  left: 15vw;
  bottom: -3vh;
}

#record-guy {
  width: 360px;
  right: 15vw;
  bottom: -1vh;
}

.cloud-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: all 1s ease;
}

.images-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.selectpicker {
  width: 265px;
  height: 51px;
  font-size: 1.5rem;
  border: 1px solid white;
  background: transparent;
  color: white;
  text-align: center;
  border-radius: 21px;
}

select.selectpicker > option {
  background-color: rgba(0, 0, 0, 0) !important;
  color: black;
}

.innerSelectedHtml {
  width: 50%;
}

.gray-out {
  transition: all 0.5s linear;
  position: absolute;
  width: 101vw;
  height: 101vh;
}

.smooth-gray {
  filter: grayscale(100%);
  background: cadetblue;
}

.recording-play {
  width: 30px;
  top: 27%;
  position: relative;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
